.chart {
    background-color: rgba(253, 230, 167, .15);
}

.chart-container,
.metodology-container {
    max-width: 90vw;
    margin: 0 auto;
    padding: 1rem 0;
}

.chart-text-container {
    padding: 1.5rem;
    margin: 1rem auto;
    margin-top: 0;
    max-width: 25rem;
    color: var(--black);
}

.chart-text {
    font-family: var(--text);
}

.chart-text-title {
    font-size: 1rem;
    font-family: var(--title);
    margin-top: 0;
}

.chart-vulturno {
    position: relative;
    .tooltip {
        position: absolute;
        bottom: 2.5rem;
        padding: .5rem;
        background-color: #A13B39;
        border-radius: 2px;
        box-shadow: var(--shadowTooltip);
        width: max-content;
        strong {
            font-size: 1rem;
        }
    }
    .tooltip-media-texto {
        margin: 0;
        font-size: .65rem;
        font-family: var(--roboto);
        color: #fafbfc;
    }
    .tooltip-media-anual-maxima {
        right: 2rem;
        bottom: 5rem;
        .tooltip-media-texto {
            color: var(--white);
        }
    }
    .tooltip-media-anual-minima {
        background-color: #2a7d97;
        right: 2rem;
        left: initial;
    }
    .tooltip-temp {
        top: 0;
        bottom: initial;
        background-color: #050b2c;
        width: max-content;
        .tooltip-media-texto {
            /* stylelint-disable */
            color: var(--white);
            + p {
                display: none;
            }
            /* stylelint-enable */
        }
    }
}

.overlay {
    fill: transparent;
    pointer-events: all;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    transition: all .3s ease-in-out;
    background-color: #b7ac7f;
    opacity: 8;
    visibility: hidden;
}

.x-hover-line {
    stroke: #2d3065;
}

.chart-vulturno-container {
    .domain {
        stroke: none;
    }
    .axis-y {
        .tick {
            stroke-dasharray: 3px;
        }
    }
    text {
        font-family: var(--roboto);
        font-size: 11px;
    }
    .area {
        fill: var(--orange);
    }
    .lines {
        fill: none;
        stroke: #dd435c;
        stroke-width: 3px;
    }
    .circles {
        fill: var(--circles);
        r: 3.5px;
    }
}

@media only screen and (min-width: 48rem) {

    .chart-container,
    .metodology-container {
        max-width: 45rem;
        padding: 3rem 0;
    }

    .chart-vulturno-container {
        text {
            font-size: 14px;
        }
    }

    .chart-text-title {
        font-size: 1.5rem;
    }

    .chart-vulturno {
        .tooltip {
            padding: 1rem .5rem;
            strong {
                font-size: 1.25rem;
            }
        }
        .tooltip-media-texto {
            font-size: 12px;
        }
        .tooltip-media-anual-maxima {
            bottom: 2.5rem;
            right: 2rem;
            left: initial;
        }
        .tooltip-media-anual-minima {
            right: initial;
            left: 4rem;
        }
    }

}

@media only screen and (min-width: 64em) {

    .chart-container,
    .metodology-container {
        max-width: 65rem;
    }

    .chart-vulturno {
        .tooltip {
            padding: 1rem;
        }
        .tooltip-media-texto {
            font-size: 14px;
        }
    }

}
