.header-title {
    font-size: 4rem;
    font-family: var(--title);
    font-weight: 900;
    margin: .5rem 0 0;
    color: var(--black);
    text-align: center;
    letter-spacing: 1px;
}

.author {
    font-size: 12px;
    font-family: var(--text);
    display: block;
    text-align: center;
}

@media only screen and (min-width: 48rem) {

    .header-title {
        font-size: 5rem;
    }

}
