.metodology {
    background-color: #dde8e0;
    padding: 6rem 0;
}

.metodology-container {
    margin: 0 auto;
}

.metodology-title {
    font-family: var(--title);
    font-weight: bold;
    letter-spacing: 1px;
}

.metodology-text {
    font-family: var(--text);
    max-width: 30rem;
}
