.ss-main .ss-single-selected {
    max-width: 13rem !important;
    border-radius: 5px;
    height: auto !important;
    padding: 1rem !important;
    padding-right: .25rem !important;
    border: 1px solid #ddd !important;
    background-color: #f1f1f1;
    font-family: var(--roboto) !important;
    color: var(--black) !important;
    top: -1rem;
    position: relative;
    margin-left: 3rem;
}

.ss-option {
    font-family: var(--roboto) !important;
    color: var(--black) !important;
}

.ss-main .ss-content .ss-list .ss-option.ss-disabled {
    color: #bdbdbd !important;
}

.ss-main .ss-single-selected .ss-arrow span {
    border-color: var(--black) !important;
}

.ss-main .ss-single-selected .placeholder,
.ss-main .ss-single-selected .placeholder * {
    overflow: initial !important;
}

.ss-content {
    max-width: 13rem !important;
    border: 1px solid #ddd !important;
    box-shadow: var(--shadowTooltip);
    margin-left: 3rem !important;
    margin-top: -1rem !important;
}
