:root {
  --fontSystem: BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Helvetica, sans-serif;
  --monospace: 'SFMono-Regular', Consolas, Menlo, Courier, monospace;
  --title: 'Playfair Display', serif;
  --text: 'Adamina', serif;
  --roboto: 'Roboto Condensed', sans-serif;
  --orange: #F35F3D;
  --circles: #4d122c;
  --black: #111;
  --white: #fff;
  --shadowTooltip: 0 2px 9px 0 rgba(0, 0, 0, .2);
  --project1bg: #FEE1C2;
  --project1txt: #952747;
  --project2bg: #354A57;
  --project2txt: #a5cf80;
  --project4bg: #798780;
  --project4txt: #1a182a;
}
